%h1 Listing charities

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Status
      %th
      %th
      %th

  %tbody
    - @charities.each do |charity|
      %tr
        %td= charity.name
        %td= charity.description
        %td= charity.status
        %td= link_to 'Show', group_charity_path(@group, charity)
        %td= link_to 'Edit', edit_group_charity_path(@group, charity)
        %td= link_to 'Destroy', group_charity_path(@group, charity), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Charity', new_group_charity_path(@group)
